<!DOCTYPE html>
<html lang="ja">
    <head>
        <title>food manager</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css" media="screen, projection" />
    <link rel="stylesheet" type="text/css" href="/static/css/detail.css" />
    <script type="text/javascript" src="http://code.jquery.com/jquery.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/66d4b90c85.js" crossorigin="anonymous"></script>

    </head>
    <body>
        <nav class="navbar navbar-dark bg-dark">
            <div class="container-fluid">
                <div class="navbar-header">
                    <div class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </div>
                    <a class="navbar-brand" href="{% url 'index' %}">food manager</a>
                    
                </div>
            </div>
        </nav>
        <br/>
        <br/>
        <h1>食品の登録</h1>
        <br/>
        {% if form.errors %}
        <p>もう一度入力してください</p>
        {% endif %}
        <form action="{% url 'new' %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input class="btn btn-primary" type="submit"  />
        </form>
        <br/>
        <br/>
        
    </body>
</html>
